nav {
  background-color: #fffbfb;
  padding: 10px 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding-left: 850px;
  display: flex;
}

nav li {
  margin: 0 7px;
  color: rgb(0, 0, 0);
  font-family: Arial, sans-serif;
  cursor: pointer;
}

nav li:hover {
  text-decoration: underline;
  color: #c8c8c8;
}

  