*{
 font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}



header{
    background-color: #fffbfb;
    padding: 10px 0;
}
.logo span{
  font-size: 20px;
  font-weight: 500;
}
.headRow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 11.8825px;
}
.logo span{
   font-size: 11.8825px ;
}

nav {
    background-color: #ffffff;
    padding: 10px 0;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
  }
  
  nav li {
    margin: 0 7px;
    color: rgb(0, 0, 0);
    font-family: Arial, sans-serif;
    cursor: pointer;
  }
  
  nav li:hover {
    text-decoration: underline;
    color: #c8c8c8;
  }
  .contentMainWrap{
    display: flex;
  }
  
  .herobanner{
    height: 100vh;
    object-fit: cover;
    display: flex;
    justify-content: center;
    z-index:  10;
    background: rgb(255, 255, 255);
  }  

  .headContent{
    display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
  }

.sidelist a span{
     display: flex;
    height: 100%;
    align-items: stretch;
    color: rgb(204, 206, 209);
    font-weight: 550;
    text-decoration: none;
    box-sizing: border-box;
    border-top-style: border-box;
}
.sidelist a,
.sidelist a:visited,
.sidelist a:hover,
.sidelist a:active {
    text-decoration: none;
    color: inherit; /* Optional: keeps it the same as surrounding text */
}
.sidelist{
    width: 30%;
}

.sidelist ul{
    list-style: none;
    margin: 2%;
    padding: 2%;
   
}

.contentItemWrap{
    width: 70%;
}

.contentItem{
    width: 100%;
}

.contentItem img{
    width: 100%;
}


.contentItemImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.2s ease; /* Smooth transition for scaling */
}


.contentPopup {
    display: none; /* Initially hidden */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}
.popupead{
  background-color: white;
  padding: 10px 20px;
  width: 100%;
   position: absolute;
    top: 0;
    left: 0;
    display: flex
;
    align-items: center;
    justify-content: space-between;
}

.popupContent {
    background: #fff;
    padding: 40px 20px;
    border-radius: 8px;
    max-width: 96vw;
    max-height: 96vh;
    overflow-y: auto;
    /* width: 100%; */
    text-align: center;
}

.popupImage img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.closePopup {
    background: #f44336;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    width: 25px;
    height: 25px;
   
}